body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin:0;
  background-color:#000 !important;
  color:white;
}

svg {
  touch-action: manipulation;
  width:100vw;
  height:100vh;
  position:sticky;
}


/*resting nav state*/
.navIcon > path:first-child, .navIcon > circle{
  transition: opacity 0.075s ease-in-out; 
  opacity: 0;
}

.navIcon tspan{
  transition: all 0.075s ease-in-out; 
}

.navIcon > path:last-child{
  transition: all 0.075s ease-in-out;
}


.navIcon.btn__pressed > path:first-child{
  transition: all 0.075s ease-in-out; 
  opacity: 1;
}




.navIcon.btn__pressed > path:last-child{
  transition: all 0.075s ease-in-out; 
  fill: #198ef5;
}

.navIcon.btn__pressed circle{
  transition: all 0.075s ease-in-out; 
  opacity: 1;
}
.navIcon.btn__pressed tspan {
  fill: #198ef5;
}

/*resting volume state*/
.volUp > path:first-child, .volDn > path:first-child{
  transition: all 0.075s ease-in-out; 
  opacity:0;
}

.volUp > path:last-child, .volDn > path:last-child{
  transition: all 0.075s ease-in-out; 
  fill-opacity: 0.5;
  fill: #fff;
}

.volUp.btn__pressed > path:first-child, .volDn.btn__pressed > path:first-child{
  transition: all 0.075s ease-in-out; 
  opacity:1;
  
}

.volUp.btn__pressed > path:last-child, .volDn.btn__pressed > path:last-child{
  transition: all 0.075s ease-in-out; 
  fill-opacity: 1;
  fill: #198ef5;
}

/*resting button state*/
.btn > circle, .btn > path{
  transition: all 0.075s ease-in-out; 
  scale:1;
}



.btn.btn__pressed > circle{
  transition: all 0.075s ease-in-out;
  transform: scale(0.95,0.95) translate(2px, 2px);
  
  fill: #272727;
  
  
  
}

.btn.btn__pressed > path {
  transition: all 0.075s ease-in-out; 
  fill-opacity: 1;
  fill: #198ef5;
}




.btn__disabled{
  transition: all 0.3s ease-in-out;
  opacity:0.2;
  touch-action: none;
}