body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin:0;
  background-color:#000;
}

.remote--sheet{
  touch-action: manipulation;
  position:absolute;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  
  bottom:0px;
  background-color: #111;
  width:100vw;
  height:80vh;
  border-radius:64px 64px 0 0;
  margin-bottom:-200px;
}

.header{
  display:flex;
  position:relative;
  justify-content:center;
  text-align: center;
  height:160px;
  width:100vw;
}

.header > p{
  display:inline-flex;
  font-size:48px;
  font-weight:800;
  color:#eee;
}

.remote--dpad-container{
  display:relative;
  width:90vw;
  height:90vw;
  border-radius:64px;
  background-color: #222;
  overflow: hidden;
}

.btn{
  display:flex;  
  align-items: center;
  justify-content: center;
  border-radius:100px;
  height:600px;
  width:600px;

}
.btn > .material-icons{
  display:inline;
  font-size:200px;
  color:#eee;

}

.u{
  position: absolute;
  top:-140px;
  left:190px;
  transform: rotateZ(45deg);
}
.u > i {
  transform: rotateZ(-45deg) translateY(140px);
}



.d{
  position: absolute;
  top:730px;
  left:190px;
  transform: rotateZ(45deg);
}
.d > i {
  transform: rotateZ(-45deg) translateY(-140px);
}

.l{
  position: absolute;
  top:290px;
  left:-260px;
  transform: rotateZ(45deg);
}
.l > i {
  transform: rotateZ(-45deg) translateX(160px);
}

.r{
  position: absolute;
  top:290px;
  right:-260px;
  transform: rotateZ(45deg);
}
.r > i {
  transform: rotateZ(-45deg) translateX(-160px);
}

.ok{
  width:180px;
  height:180px;
  font-size:50px;
  font-weight:800;
  color:#eee;
  border-radius:200px;
  background-color:#333;
  position:absolute;
  top: 500px;
  left: 400px;
}
